body {
	background-color: #000C9B;
}

@media screen and (max-width: 1080px) {
	body { background-color: #000EBF; }
}

@media screen and (max-width: 550px) {
	body { background-color: #0010D8; }
}

@media screen and (max-width: 400px) {
	body { background-color: #0013FF; }
}